@page
@model EMG.Areas.Cars.pages.DetailsModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Details";
    if (!SignInManager.IsSignedIn(User))
    {
        Response.Redirect("/");
    }
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.VIN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.VIN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Année)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Année)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Marque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Marque.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Modele)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Modele.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Finition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Finition.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.DateAchat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.DateAchat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.PrixAchat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.PrixAchat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.DateDisponibilité)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.DateDisponibilité)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.PrixVente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.PrixVente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.DateVente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.DateVente)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@Model.Car.Id">Edit</a> |
    <a asp-page="./Index" class="btn btn-success">Back to List</a>
</div>
