@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model EMG.Areas.Annonces.Pages.IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<h1>Annonces</h1>

<div class="row">
    @foreach (var item in Model.Annonce)
    {
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        @if (item.Car.Image != null)
                        {
                            <img src="@Url.Content(item.Car.Image.Path)" class="card-img" alt="Image de la voiture">
                        }
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-title">Description : @item.Description</p>
                            <p class="card-text">VIN : @item.Car.VIN</p>
                            <p class="card-text">Année : @item.Car.Année</p>
                            <p class="card-text">Marque : @item.Car.Marque.Nom</p>
                            <p class="card-text">Modèle : @item.Car.Modele.Nom</p>
                            <p class="card-text">Finition : @item.Car.Finition.Nom</p>
                            <p class="card-text">Date d'achat : @item.Car.DateAchat</p>
                            <p class="card-text">Prix d'achat : @item.Car.PrixAchat</p>
                            <p class="card-text">Date de disponibilité : @item.Car.DateDisponibilité</p>
                            <p class="card-text">Prix de vente : @item.Car.PrixVente</p>
                            <h5 class="card-text">Reparations:</h5>
                            @if (item.Car.Réparations != null)
                            {
                                @foreach (var rep in item.Car.Réparations)
                                {
                                    <p class="card-text">Description: @rep.Description</p>
                                    <p class="card-text">Date: @rep.DateRéparation</p>



                                }
                            }

                            @if (SignInManager.IsSignedIn(User))
                            {
                                <div class="text-center mt-3">
                                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Modifier</a>
                                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Supprimer</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>